$blue: #00448F;
$blueScroll : #7FB1EB;
$blueScrollBar: #3283DF;
$blueVeryLight: #E6EFF7;
$blueCounterLight: #A4C5E5;
$blueLight: #0086D3;
$blueLighter: #3E93F3;
$blueDark: #2761B0;
$blueDarker: #00336C;
$yellow: #F9BE2C;
$yellowDark: #ebad14;
$cloud: #e4eff7;
$cloudDark: #AACAD3;
$white: #fff;
$lightGray: #D0D0D0;
$gray: #707070;
$darkGray: #363636;
$borderGray: #DEDEDE;
$uranianBlue: #EFF7FF;

$primary: $blue;
$primaryHover: $blueDarker;
$secondary: $yellow;
$secondaryHover: $yellowDark;
$primaryLight: $cloud;
